/* INDEX BLOGPOSTS */
#imageLink {
    cursor: pointer;
    margin: 25px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--cbgc);
    justify-self: center;
}
#imageLink svg {
    height: 30px;
    width: 30px;
    flex-basis: 30px;
}
#imageLink div {
    display: flex;
    align-items: center;
    gap: 15px;
}
#imageLink .linkIcon {
    justify-self: end;
    height: 50px;
    width: 50px;
    flex-basis: 50px;
}
#blogList {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
}
#blogList entry {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--bbglc);
}
#blogList entry:first-child {
    margin-top: 0px;
}
#blogList entry .title {
    display: flex;
    gap: 25px;
    align-items: center;
}
#blogList entry .title img {
    float: left;
    width: 75px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}
#blogList entry .title div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#blogList entry .title div h3 {
    font-size: 30px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#blogList entry .title div p {
    font-size: 20px;
    font-weight: 400;
    color: var(--ctextc);
}
#blogList entry p {
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5; 
    -webkit-box-orient: vertical;
}


/* INDEX IMAGES */
#fileUploadForm {
    margin: 25px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.fileUploadForm {
    padding: 25px;
    border: 2px solid var(--ctext);
    border-radius: 30px;
}
#file-upload {display: none;}
.custom-file-upload, #file-selected {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--cbgc);
}
.custom-file-upload svg, #file-selected svg {
    height: 30px;
    width: 30px;
    flex-basis: 30px;
}
#file-selected {
    cursor: default;
    display: none;
    padding: 0;
    background-color: var(--invis);
    border-radius: 0;
}
#file-selected p {
    cursor: text;
    flex-grow: 1;
}
#fileUploadForm button {
    display: none;
    margin-top: 0;
    padding: 25px;
}
#imageList {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 125px;
}
#imageList h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
}
#imageList h2:first-child {
    margin-top: 0;
}
.imageList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 gleich breite Spalten */
    gap: 10px; /* Abstand zwischen Bildern */
}
.imageList img {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1 / 1;  /* macht die Bilder quadratisch */
    object-fit: cover;    /* schneidet das Bild passend zu */
    border-radius: 6px;   /* optional: abgerundete Ecken */
}


/* EDIT BLOGPOST */
#changeCover {
    display: flex;
    height: 74px;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
    align-items: center;
    background-color: var(--cbglc);
    border: 2px solid var(--cbglc);
    cursor: pointer;
}
#changeCover:has(.error) {
    border-color: var(--red);
}
#changeCover img {
    width: 75px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}
#changeCover p {
    font-size: 24px;
    font-weight: 500;
    flex-grow: 1;
}
#changeCover svg {
    margin-left: 18px;
    height: 30px;
    width: 30px;
}
#changeCover + .errorMessage {
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
#contentTa {
    height: calc(100vh - 700px);
}

/* SELECT IMAGES */
#imageSelect {
    z-index: 100;
    top: 0;
    overflow-y: scroll;
    padding-top: 125px;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--cbg);
}
#imageSelect p {
    font-size: 30px;
    font-weight: 500;
    justify-self: center;
    text-align: center;
    margin-bottom: 25px;
}


@media only screen and (min-width: 1050px) {
    #blogList, #imageList, #fileUploadForm {
        justify-self: center;
        width: 1000px;
    }
    #imageLink {width: 950px;}
}