/* EDIT */
.edit {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 40px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 1050px) {
    .edit {
        justify-self: center;
        width: 970px;
    }
}

input {
    font-size: 28px;
    font-weight: 600;
    background: none;
    outline: none;
    border-style: none;
    color: var(--ctext);
    font-family: var(--cfont);
}
input[type=datetime-local], input[type=time] {
    cursor: pointer;
}
/*
 * Native date/time icons entfernen,
 * aber Picker weiterhin funktionieren lassen
 */
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(0.9);
}
/* Für Firefox */
input::-moz-focus-inner {
    border: 0;
}
/* Arrow Buttons bei time entfernen */
input::-webkit-inner-spin-button,
.kvInput input::-webkit-clear-button {
    cursor: pointer;
    filter: invert(1) brightness(0.9);
}
.inLong {
    margin-top: 40px;
    border-radius: 15px;
    background-color: var(--cbg);
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctextc);
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.inLong:first-child {
    margin-top: 0px;
}
.inLong h3 {
    color: var(--cfontc);
    font-weight: 400;
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: -10px;
    font-size: 24px;
    height: 24px;
    background-color: var(--cbg);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.inLong input {
    width: 100%;
}
.inLong:has(> input:focus), .inLong:has(> textarea:focus) {
    border-color: var(--ctext);
    border-width: 3px;
}
.inLong:has(> input:focus) > h3, .inLong:has(> textarea:focus) > h3 {
    color: var(--ctext);
    font-weight: 600;
    margin-top: -41px;
    margin-left: -11px;
}
.inLong:has(> .error) {
    border-color: var(--red);
    border-width: 3px;
}
.inLong:has(> .error) > h3 {
    color: var(--red);
    font-weight: 600;
    margin-top: -41px;
    margin-left: -11px;
}
.inLong:has(> .error) + .errorMessage {
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    background-color: var(--invis);
    border-style: none;
    color: var(--ctext);
    font-size: 24px;
    font-family: var(--cfont);
}
.inFlex {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.inFlex p {
    display: inline;
    width: 28px;
    font-size: 28px;
    font-weight: 600;
}

/* SUBMIT BUTTON */
button {
    width: 100%;
    background: none;
    outline: none;
    border-style: none;
    border-radius: 15px;
    color: var(--ctext);
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 32px;
    margin-top: 40px;
    background-color: var(--green);
    cursor: pointer;
}

/* CHECKBOX */
.checkBox {
    color: var(--ctextc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--cbglc);
    gap: 15px;
    margin-top: 30px;
    border: 2px solid var(--cbglc);
    cursor: pointer;
}
.checkBox:has(input:checked) {
    color: var(--ctext);
    border-color: var(--ctext);
}
.checkBox p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    font-weight: 400;
    flex-grow: 1;
}
.checkBox svg {
    height: 50px;
    width: 50px;
}
.checkBox input[type=checkbox] {
    display: none;
}


/* EDIT CONTEXT BUTTON */
.editContextButton {
    margin-top: 30px;
    display: flex;
    height: 74px;
    padding: 15px 25px;
    border-radius: 15px;
    gap: 15px;
    align-items: center;
    background-color: var(--cbglc);
    border: 2px solid var(--cbglc);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.editContextButton:has(.error) {
    border-color: var(--red);
}
.editContextButton p {
    font-size: 24px;
    font-weight: 500;
    flex-grow: 1;
}
.editContextButton svg {
    height: 50px;
    width: 50px;
}
.editContextButton svg:first-child {
    height: 30px;
    width: 30px;
}
.editContextButton + .errorMessage {
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* REG AREA */
#registrations .container {
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--cbglc);
    overflow: hidden;
}
#registrations .container .booked {
    display: flex;
    gap: 15px;
    margin: 0 0 20px 20px;
    align-items: center;
}
#registrations .container .booked svg {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 15px;
}
#registrations .container .booked p {
    font-size: 28px;
}
#regArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#regArea svg {
    height: 50px;
    width: 50px;
}
#regArea div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#regArea .option {
    cursor: pointer;
    background-color: var(--cbg);
}
#regArea .last {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* REGISTRATIONS */
#registrations li {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
#registrations li ul {
    display: flex;
    align-items: stretch;
    gap: 20px;
}
#registrations li ul svg {
    margin-top: 3px;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}
#registrations li ul h4 {
    font-size: 25px;
}
#registrations li ul p {
    font-size: 20px;
}
#registrations li ul div {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* DELETE CONTEXT */
#deleteButton {
    background-color: var(--red);
    font-size: 30px;
    font-weight: 600;
    padding: 25px 0;
}
#deleteContext {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--shadow);
    z-index: 100000;
}
#deleteContext .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--cbglc);
    border-radius: 30px;
}
#deleteContext .container div {
    display: flex;
    gap: 10px;
    align-items: center;
}
#deleteContext svg {
    align-self: center;
    padding: 15px 18px 21px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: visible;
    background-color: var(--red);
}
#deleteContext h2 {
    text-align: center;
    align-self: center;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
}
#deleteContext button {
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 10px;
    padding: 20px;
    outline: none;
    background: none;
    border-radius: 64px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctext);
    color: var(--ctext);
    font-family: var(--cfont);
    font-weight: 400;
    font-size: 24px;
    box-shadow: none;
    text-shadow: none;
}
#deleteContext .submit {
    font-weight: 500;
    background-color: var(--red);
    border-color: var(--red);
}