main {
    margin-bottom: 100px;
}

.section {
    padding: 25px;
    padding-top: 0px;
}

h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

#registrations .container {
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--cbglc);
    overflow: hidden;
}

#regArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#regArea .option {
    background-color: var(--cbg);
}
#regNo {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#regArea input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
#regArea input + #regYes {
    background-color: var(--green);
}
#regArea input:checked + #regMaybe {
    background-color: var(--yellow);
}
#regArea input:checked + #regNo {
    background-color: var(--red);
}

#regArea svg {
    height: 50px;
    width: 50px;
}

#regArea div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#registrations li {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

#registrations li ul {
    display: flex;
    align-items: stretch;
    gap: 20px;
}
#registrations li ul svg {
    margin-top: 3px;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}
#registrations li ul h4 {
    font-size: 25px;
}
#registrations li ul p {
    font-size: 20px;
}
#registrations li ul div {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.kvRow {
    display: flex;
    justify-content: space-around;
    background-color: var(--cbglc);
    padding-top: 20px;
    padding-bottom: 20px;
}
.kvRow div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left-style: solid;
    border-width: 2px;
    border-color: var(--ctextc);
}
.kvRow > div:first-child {
    border-left-style: none;
}
.kvRow value {
    font-size: 35px;
    font-weight: 800;
}
.kvRow p {
    font-size: 20px;
    font-weight: 400;
    color: var(--ctextc);
}
.kvLong {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 10px;
}
.kvLong value {
    font-size: 20px;
    font-weight: 400;
}
.kvLong p {
    font-size: 20px;
    font-weight: 600;
    color: var(--ctextc);
}

#infos .container {
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cbglc);
    gap: 20px;
}
#infos .notes {
    padding-bottom: 30px;
}

#location .container {
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--cbglc);
    padding-top: 30px;
    padding-bottom: 30px;
}


.edit {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 40px;
    margin-bottom: 60px;
}
input {
    font-size: 28px;
    font-weight: 600;
    background: none;
    outline: none;
    border-style: none;
    color: var(--ctext);
    font-family: var(--cfont);
}
/*
 * Native date/time icons entfernen,
 * aber Picker weiterhin funktionieren lassen
 */
input::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.9);
}
/* Für Firefox */
input::-moz-focus-inner {
    border: 0;
}
/* Arrow Buttons bei time entfernen */
input::-webkit-inner-spin-button,
.kvInput input::-webkit-clear-button {
  filter: invert(1) brightness(0.9);
}

.inLong {
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: var(--cbg);
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctextc);
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.inLong h3 {
    color: var(--cfontc);
    font-weight: 400;
    margin-top: -40px;
    margin-bottom: 20px;
    margin-left: -10px;
    font-size: 24px;
    height: 24px;
    background-color: var(--cbg);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
.inLong input {
    width: 100%;
}
.inLong:has(> input:focus), .inLong:has(> textarea:focus) {
    border-color: var(--ctext);
    border-width: 3px;
}
.inLong:has(> input:focus) > h3, .inLong:has(> textarea:focus) > h3 {
    color: var(--ctext);
    font-weight: 600;
    margin-top: -41px;
    margin-left: -11px;
}
textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    background-color: var(--invis);
    border-style: none;
    color: var(--ctext);
    font-size: 24px;
    font-family: var(--cfont);
}
.inFlex {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.inFlex p {
    display: inline;
    width: 28px;
    font-size: 28px;
    font-weight: 600;
}