h3 {
    font-size: 35px;
    margin-bottom: 20px;
}


/* INDEX EVENT */
#eventList {
    margin: 25px;
    margin-top: 0;
}
event {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--cbglc);
    margin-top: 15px;
}
event:first-child {
    margin-top: 0px;
}
event .eventTop {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    background-color: var(--cbgc);
}
event .eventTop svg {
    height: 50px;
    width: 50px;
    padding: 25px;
    flex-basis: 50px;
}
event .eventTop .title {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
event h3 {
    margin-bottom: 0px;
}
event .eventTop p {
    font-size: 20px;
}
event .kvRow value {
    font-size: 30px;
}
event .reg {
    display: flex;
    height: 100px;
}
event .reg svg {
    flex-basis: 50px;
    height: 50px;
    width: 50px;
    padding: 25px;
}
event .reg svg:first-child {
    border-top-right-radius: 15px;
}
event .reg div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px
}
event .reg div p {
    font-size: 30px;
    font-weight: 400;
}
event .reg div svg {
    padding: 0px;
    height: 30px;
    width: 30px;
}


/* REG AREA */
#registrations .container {
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--cbglc);
    overflow: hidden;
}
#regArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#regArea svg {
    height: 50px;
    width: 50px;
}
#regArea div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#regArea .option {
    background-color: var(--cbg);
}
#regArea .last {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* REGISTRATIONS */
#registrations li {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
#registrations li ul {
    display: flex;
    align-items: stretch;
    gap: 20px;
}
#registrations li ul svg {
    margin-top: 3px;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}
#registrations li ul h4 {
    font-size: 25px;
}
#registrations li ul p {
    font-size: 20px;
}
#registrations li ul div {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* REGISTER */
#register {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--shadow);
}
#register .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--cbglc);
    border-radius: 30px;
}
#register .container div {
    display: flex;
    gap: 10px;
    align-items: center;
}
#register svg {
    align-self: center;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: visible;
}
#register h2 {
    text-align: center;
    align-self: center;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 400;
}
#register textarea {
    width: auto;
    height: 100px;
    resize: none;
    outline: none;
    background-color: var(--invis);
    color: var(--ctext);
    font-size: 24px;
    font-family: var(--cfont);
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctext);
    margin-bottom: -10px;
}
#register p {
    text-align: center;
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--red);
}
#register button {
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 10px;
    padding: 20px;
    outline: none;
    background: none;
    border-radius: 64px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--ctext);
    color: var(--ctext);
    font-family: var(--cfont);
    font-weight: 400;
    font-size: 24px;
    box-shadow: none;
    text-shadow: none;
}
#register .submit {
    font-weight: 500;
}

/* INFOS */
#infos .container {
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cbglc);
    gap: 20px;
}
#infos .notes {
    padding-bottom: 30px;
}
#location .container {
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--cbglc);
    padding-top: 30px;
    padding-bottom: 30px;
}