/* SEARCH */
#search .stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}
#search .stats p {font-size: 20px;}
#search {
    position: sticky;
    top: 0px;
    height: 80px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    z-index: 1000;
    background-image: var(--fadeUp);
}
.search {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--cbgc);
    height: 60px;
    padding: 10px;
    border-radius: 60px;
}
.search .goggle {
    height: 30px;
    width: 30px;
    flex-basis: 30px;
    margin: 15px;
}
.search input {
    height: 60px;
    flex-grow: 1;
    border-style: none;
    cursor: text;
    outline: none;
    background-color: var(--invis);
    font-size: 23px;
    color: var(--ctext);
}
.search input:focus {outline: none;}
#filter {
    max-width: 1000px;
    height: 53px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
}
#filter p {
    cursor: pointer;
    font-size: 23px;
    font-weight: 400;
    padding: 18px;
    padding-top: 12px;
    padding-bottom: 14px;
    color: var(--ctextc);
    background-color: var(--cbgc);
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--invis);
    -webkit-transition: .4s;
    transition: .4s;
}
#filter .selected {
    color: var(--ctext);
    border-color: var(--ctext);
    background-color: (--cbglc);
}
