/* SEARCH */
#search .stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}
#search .stats p {font-size: 20px;}
#search {
    position: sticky;
    top: 0px;
    height: 80px;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
    z-index: 1000;
    background-image: var(--fadeUp);
}
.search {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--cbgc);
    height: 60px;
    padding: 10px;
    border-radius: 60px;
}
.search .goggle {
    height: 30px;
    width: 30px;
    flex-basis: 30px;
    margin: 15px;
}
.search input {
    height: 60px;
    flex-grow: 1;
    border-style: none;
    cursor: text;
    outline: none;
    background-color: var(--invis);
    font-size: 23px;
    color: var(--ctext);
}
.search input:focus {outline: none;}
#filter {
    max-width: 1000px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 17px;
    box-sizing: content-box;
    gap: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
#filter::-webkit-scrollbar { 
    display: none; /* Older Safari and Chromium */
}
#filter div {
    display: flex;
    width: fit-content;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    background-color: var(--cbgc);
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--invis);
    -webkit-transition: .4s;
    transition: .4s;
    gap: 10px;
}
#filter .ampel::before {
    content: "";
    display: block;
    height: 23px;
    width: 23px;
    margin-top: 13px;
    border-radius: 100%;
}
#filter .green::before {
    background-color: var(--green);
}
#filter .orange::before {
    background-color: var(--orange);
}
#filter .red::before {
    background-color: var(--red);
}
#filter div p {
    padding-top: 12px;
    padding-bottom: 14px;
    width: max-content;
    font-size: 23px;
    font-weight: 400;
    color: var(--ctextc);
}
#filter .selected {
    color: var(--ctext);
    border-color: var(--ctext);
    background-color: (--cbglc);
}
#filter .selected p {
    color: var(--ctext);
}

@media only screen and (min-width: 1050px) {
    #search, #filter {
        justify-self: center;
        width: 1000px;
    }
}