#orderEdit {
    padding: 0 40px;
}
#orderEdit h2 {
    font-size: 30px;
}
#orderEdit .song {
    display: flex;
    background-color: var(--cbglc);
    border-radius: 15px;
    overflow: hidden;
    height: 100px;
    align-items: center;
    margin-top: 10px;
}
#orderEdit .song .upDown {
    flex-basis: 50px;
    display: flex;
    flex-direction: column;
    height: 100px;
}
#orderEdit .song .upDown svg {
    padding: 5px 25px 15px;
    height: 30px;
    width: 30px;
}
#orderEdit .song .upDown svg:first-child {
    padding: 15px 25px 5px;
    height: 30px;
    width: 30px;
}
#orderEdit .song .upDown svg:hover {
    background-color: var(--cbgc);
}
#orderEdit .song .pos {
    cursor: pointer;
    font-size: 23px;
    min-width: 25px;
    width: fit-content;
    text-align: right;
}
#orderEdit .song .title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
#orderEdit .song .title h3 {
    font-size: 26px;
}
#orderEdit .song .title p {
    font-size: 20px;
}
#orderEdit .song .delete {
    cursor: pointer;
    width: 50px;
    height: 50px;
    flex-basis: 50px;
    padding: 25px;
    background-color: var(--red);
}
#orderEdit .between {
    margin-top: 10px;
    display: flex;
    justify-self: center;
    gap: 15px;
}
#orderEdit .between p {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: var(--cbglc);
    border: 2px solid var(--invis);
    transition: .4s;
}
#orderEdit .between .active {
    border-color: var(--ctext);
    background-color: var(--cbgc);
}
#orderEdit .between p svg {
    height: 24px;
    width: 24px;
}