#showConnections {
    display: flex;
    margin: 20px;
    margin-top: -10px;
}
#showConnections div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 34px;
    padding: 10px;
    padding-left: 20px;
    background-color: var(--cbgc);
    border-radius: 43px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--invis);
    color: var(--ctextc);
    -webkit-transition: .4s;
    transition: .4s;
}
#showConnections div h3 {
    font-size: 23px;
    font-weight: 400;
}
#showConnections div input {
    z-index: 100;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#showConnections div .slider {
    border-color: var(--ctextc);
    background-color: var(--cbglc);
}
#showConnections div .slider::before {background-color: var(--ctextc);}
#showConnections div input:checked + .slider {background-color: var(--cbglc);}
#showConnections div input:checked + .slider::before {background-color: var(--ctext);}


/* SONGS */
#trackList {
    position: relative;
    padding: 25px;
    padding-top: 0px;
    margin-bottom: 100px;
    justify-items: center;
}
song {
    max-width: 990px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cbglc);
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-radius: 15px;
    gap: 20px;
}
song:hover {
    cursor: pointer;
    background-color: var(--cbgc);
}
.inWork {
    background-color: var(--inWork);
}
.inWork:hover {
    background-color: var(--inWorkc);
}

song img {
    flex-basis: 100px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
song .trackIndex {
    min-width: 30px;
    width: 30px;
    height: 27px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-right: -10px;
    background-color: var(--cbgc);
    border-radius: 100%;
    border-style: solid;
    border-color: var(--ctextc);
    border-width: 2px;
    padding-top: 3px;
}

song .info {
    flex-grow: 1;
    overflow: hidden;
}
song .info h3 {
    font-weight: 500;
    font-size: 30px;
    text-overflow: cut;
    overflow: hidden;
    white-space: nowrap;
}
song .info p {
    font-size: 20px;
    font-weight: 400;
    text-overflow: cut;
    overflow: hidden;
    white-space: nowrap;
}

song .transpose {
    height: 120px;
    flex-basis: content;
    min-width: max-content;
    display: flex;
    overflow: hidden;
}

song .transpose .key span {
    position: absolute;
    margin-top: -60px;
    margin-left: -160px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-style: none;
    border-width: 2px;
    border-color: var(--cbg);
}

song .transpose .changed {
    background-color: var(--green);
}

song .transpose p {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cbgc);
}
song .transpose .by {
    margin-right: -1px;
    padding-right: 1px;
    z-index: 150;
    align-self: flex-end;
    width: 60px;
    height: 60px;
    border-top-left-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    border-width: 0px;
    border-right-width: 2px;
    border-style: solid;
    border-color: var(--ctextc);
}
song .transpose .key {
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}
song .transpose .key .bold {
    font-weight: 800;
}
song .transpose .key minor {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--ctextc);
}
song form button {
    background-color: var(--red);
    outline: none;
    border-style: none;
    height: 120px;
}
song form button svg {
    height: 50px;
    width: 50px;
    color: var(--ctext);
    padding-left: 20px;
    padding-right: 20px;
}

#trackList .connection {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-style: solid;
    border-width: 2px;
    background-color: var(--cbglc);
    border-color: var(--ctextc);
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--ctextc);
}
#trackList .connection h2 {
    height: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-top: -12px;
    background-color: var(--cbg);
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    width: max-content;
    color: var(--ctextc);
}
#trackList .connection p {
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}