:root {
    --ctext: var(--white);
    --ctextc: var(--whited);
    --cbg: var(--bbg);
    --cbgc: var(--bbgc);
    --cbglc: var(--bbglc);
    --cmain: var(--inWorkc);
    --cmaind: var(--inWork);
    --ccontrast: var(--yellow);

    --inWork: #411c03;
    --inWorkc: #512304;

    --spotify: #1ed760;
    --green: #336428;
    --orange: #685319;
    --red: #7a0d0d;
    --white: #e2e5e9;
    --whited: #a2a4a7;
    --paper: #ffe48c;
    --paperc: #cfb14e;
    --yellow: #f2a600;
    --blue: #2a9adb;
    --schwatz: #000000;

    --grad: linear-gradient(45deg, var(--gbg), var(--grad2), var(--grad3));
    --grad1: #274138;
    --grad2: #343847;
    --grad3: #57582b;

    --fadeUp: linear-gradient(var(--cbg), var(--invis));
    --fadeDown: linear-gradient(var(--invis), var(--schwatz));

    --gbg: #283a34;
    --gbgc: #152c24;
    --gbglc: #21332d;
    --gm: #27e7a7;
    --gmd: #055037;

    --bbg: #100f0f;
    --bbgc: #23201f;
    --bbglc: #1b1919;
    --bm: #bd521d;
    --bmd: #5a2205;

    --redl: #cc4c4c;
    --redc: #7a0000;

    --shadow: rgba(0, 0, 0, 0.509);
    --invis: rgba(255, 255, 255, 0);

    --fhead: ;
    --fhead2: ;
    --freadable: ;

    --cfont: var(--bmfont);
    --bmfont: "Roboto", sans-serif;
    --ctfont: trebuchet ms, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*font-family: trebuchet ms, sans-serif;*/
    color: var(--ctext);
    background-color: var(--cbg);
    /*background-image: var(--grad);*/
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--cfont);
}

* {
    margin: 0;
    padding: 0;
}


/* GENERAL CLASSES */
.null {display: none;}
.flexStartCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexEndCenter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexStartStretch {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.flexColumn {flex-direction: column;}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main {
    padding-bottom: 100px;
}
.section {
    padding: 25px;
    padding-top: 0px;
}

/* MENU */
#menu {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: var(--fadeDown);
    pointer-events: none;
}
@media only screen and (min-width: 900px) {
    #menu {
        justify-content: center;
        gap: 100px;
    }
}
#menu menu {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ctextc);
    cursor: pointer;
    pointer-events: all;
}
#menu menu svg {
    height: 50px;
    width: 50px;
}
#menu menu h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
#menu .mSelected {color: var(--ctext);}


/* DELETE CONTEXT */
.deleteContext {
    top: 0px;
    left: 0px;
    z-index: 10000;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--shadow);
    display: none;
    justify-content: center;
    align-items: center;
}
.deleteContext .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--cbglc);
    padding: 40px;
    border-radius: 30px;
    margin: 40px;
}
.deleteContext svg {
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--redl);
}
.deleteContext h2 {
    font-size: 35px;
    font-weight: 600;
}
.deleteContext p {
    font-size: 23px;
    font-weight: 300;
}
.deleteContext p b {
    color: var(--redl);
    font-weight: 600;
}
.deleteContext .buttons {
    display: flex;
    gap: 10px;
}
.deleteContext .buttons span {
    cursor: pointer;
    outline: none;
    background-color: var(--cbgc);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 23px;
    font-weight: 400;
    border-radius: 63px;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.deleteContext .buttons .yesDelete {background-color: var(--red);}


/* SLIDER */
.slider {
    z-index: 50;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: var(--cbgc);
    border-width: 2px;
    border-style: solid;
    border-color: var(--ctextc);
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--ctextc);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    border-color: var(--ctext);
}
input:checked + .slider:before {
    background-color: var(--ctext);
}
/*input:focus + .slider {
    box-shadow: 0 0 1px var(--inWork);
}*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* KEY-VALUE */
.kvRow {
    display: flex;
    justify-content: space-around;
    background-color: var(--cbglc);
    padding-top: 20px;
    padding-bottom: 20px;
}
.kvRow div {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left-style: solid;
    border-width: 2px;
    border-color: var(--ctextc);
}
.kvRow > div:first-child {
    border-left-style: none;
}
.kvRow value {
    font-size: 35px;
    font-weight: 800;
}
.kvRow value b {
    font-weight: 300;
}
.kvRow p {
    font-size: 20px;
    font-weight: 400;
    color: var(--ctextc);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.kvLong {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 10px;
}
.kvLong value {
    font-size: 20px;
    font-weight: 400;
}
.kvLong p {
    font-size: 20px;
    font-weight: 600;
    color: var(--ctextc);
}