/* TOPBARS */
#topbar {
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 40px;
    padding-left: 20px;
}
#topbar svg {
    z-index: 100;
    height: 40px;
    width: 40px;
    flex-basis: 40px;
    cursor: pointer;
}
#topbar p {
    z-index: 100;
    font-size: 25px;
    font-weight: 400;
    align-self: center;
    flex-grow: 1;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    align-content: center;
}
.editIcon {z-index: 150;}

#saveBar {
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: var(--fadeUp);
}
#saveBar p {
    cursor: pointer;
    padding: 40px;
    font-size: 24px;
    font-weight: 300;
}
#saveBar #save {
    color: var(--blue);
    font-weight: 500;
}


/* TOP */
#top {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#top div {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--ctextc);
    padding-bottom: 40px;
}
#top img {
    width: 30%;
    height: fit-content;
    flex-basis: 30%;
    border-radius: 15px;
}
#top div span {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#top .user {
    cursor: pointer;
    align-self: flex-end;
    height: 50px;
    width: 50px;
    margin-top: 40px;
}
#top .title {
    z-index: 100;
    font-size: 100px;
    font-weight: 900;
    line-height: 100px;
}
#top .titleSmall {
    flex-shrink: 1;
    z-index: 100;
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}
#top .titleBig {
    z-index: 100;
    font-size: 100px;
    font-weight: 900;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--ctextc);
    padding-bottom: 40px;
    line-height: 100px;
}
#top p {
    flex-basis: content;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}
#top p b {font-weight: 500;}
#top .page {
    z-index: 150;
    width: max-content;
    margin-top: -17px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    color: var(--ctextc);
    background-color: var(--cbg);
}
#add {
    z-index: 1000;
    align-self: flex-end;
    margin-top: -90px;
    margin-bottom: -10px;
    margin-right: -30px;
    height: 50px;
    width: 50px;
    padding: 20px;
    background-color: var(--green);
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--cbg);
    color: var(--ctext);
    cursor: pointer;
}
@media only screen and (min-width: 1050px) {
    #top, #topbar {
        justify-self: center;
        width: 970px;
    }
    #saveBar {
        justify-self: center;
        width: 1050px;
    }
}