/* GENERAL */
#track {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    top: 64px;
    margin: 60px;
    margin-bottom: 184px;
}
#track h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: -20px;
}

/* AMPEL */
#statusAmpel {
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    background-color: var(--cbglc);
    -webkit-transition: .4s;
    transition: .4s;
}
#statusAmpel p {
    flex-grow: 1;
    font-size: 23px;
    font-weight: 400;
}
#track .ampel {
    height: 35px;
    width: fit-content;
    display: flex;
    gap: 10px;
}
#track .ampel span {
    background-color: var(--cbgc);
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

/* INFO */
#track .info {
    position: relative;
}
#track .info h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
#track .info p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* TRANSPOSE */
#track .transpose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#track .transpose div {
    padding: 20px;
    background-color: var(--cbglc);
    border-radius: 15px;
    font-size: 24px;
}
#track .transpose .tr {
    cursor: pointer;
    height: 24px;
    width: 24px;
    text-align: center;
    font-size: 30px;
    padding-top: 14px;
    padding-bottom: 26px;
}
#track .transpose div div {
    padding: 0px;
}
#track .transpose input {
    background-color: var(--cbgc);
    height: 24px;
    width: 30px;
    text-align: center;
    font-size: 24px;
    padding: 18px;
    outline: none;
    color: var(--ctext);
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: var(--invis);
}
#track .transpose input:focus {
    border-color: var(--ctextc);
}
#track .transpose .input {
    display: flex;
    align-items: center;
    gap: 20px;
}
#track .transpose .input #key {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: var(--cbgc);
}
#track .transpose .input #key input {
    z-index: 100;
    background-color: var(--invis);
    width: 32px;
    padding-left: 18px;
    padding-right: 8px;
}
#track .transpose .input #key #min {
    padding-left: 8px;
    padding-right: 40px;
}
#track .transpose .input #key #min + p {
    z-index: 50;
    margin-left: -40px;
    padding-right: 20px;
}

/* TONART */
#track #tonart {
    cursor: pointer;
    display: flex;
    width: fit-content;
    border-radius: 15px;
}
#track #tonart p {
    font-size: 24px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 18px;
    background-color: var(--cbglc);
    border: 2px solid var(--cbglc);
}
#track #tonart #moll {
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#track #tonart .selected {
    background-color: var(--cbgc);
    border-color: var(--ctextc);
}

/* NOTES */
#track .notes {
    display: flex;
    background-color: var(--cbglc);
    border-radius: 15px;
    align-items: stretch;
    justify-items: stretch;
}
#track .notes textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 18px;
    outline: none;
    background-color: var(--invis);
    border-radius: 15px;
    border-style: solid;
    border-color: var(--invis);
    border-width: 2px;
    color: var(--ctext);
    font-size: 18px;
    font-family: var(--cfont);
}
#track .notes textarea:focus {
    background-color: var(--cbgc);
    border-color: var(--ctextc);
}