#track {
    position: flex;
    flex-direction: column;
    margin: 60px;
    margin-top:  0px;
    margin-bottom: 120px;
}

#track #warn {
    display: flex;
    align-items: center;
    background-color: var(--inWork);
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}
#track #warn svg {
    height: 40px;
    width: 40px;
    min-width: 40px;
    flex-basis: 40px;
}
#track #warn p {
    flex-grow: 1;
    font-size: 23px;
    font-weight: 400;
}

#track img {
    width: 100%;
    position: relative;
    border-radius: 30px;
    margin-top: 40px;
}
#track img p {
    position: absolute;
    bottom: 0px;
}
#play {
    position: absolute;
    margin-top: -120px;
    right: 0px;
    margin-right: -40px;
    height: 50px;
    width: 50px;
    padding: 35px;
    background-color: var(--spotify);
    border-radius: 100%;
    color: var(--cbg);
    cursor: pointer;
}

#track h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

#track .info {
    position: relative;
    margin-top: 40px;
}
#track .info h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
#track .info h3 {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#track .transposeContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#track .transpose {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 15px;
    background-color: var(--cbgc);
    width: fit-content;
}
#track .transposeContainer .setlist {
    background-color: var(--green);
}
#track .transpose p {
    font-size: 23px;
    font-weight: 300;
}
#track .transpose .by {
    width: 40px;
    height: max-content;
    padding: 10px;
}
#track .transpose .key {
    width: 40px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: var(--ctextc);
}
#track .transpose .key .bold {
    font-weight: 800;
}
#track .transpose .key minor {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--ctextc);
}

#track .notes .top {
    z-index: 50;
    display: flex;
    background-color: var(--cbglc);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
#track .notes .top h3 {
    z-index: 150;
    padding: 20px;
    width: 34%;
    font-size: 23px;
    font-weight: 500;
    background-color: var(--cbgc);
    border-radius: 15px;
    text-align: center;
}
#track .notes .top .b {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--cbglc);
}
#track .notes .top .r {
    border-bottom-right-radius: 0px;
    background-color: var(--cbglc);
}
#track .notes .top .l {
    border-bottom-left-radius: 0px;
    background-color: var(--cbglc);
}

#track .notes p {
    z-index: 100;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    background-color: var(--cbgc);
    border-radius: 15px;
}


@media only screen and (min-width: 700px) {
    
    #track {
        display: grid;
    }
    
}