/* GENERAL */
#track {
    position: flex;
    flex-direction: column;
    margin: 25px;
    margin-top:  0px;
    margin-bottom: 120px;
}
#track .container {
    background-color: var(--cbglc);
    border-radius: 50px;
    padding: 25px;
}
#track h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* COVER */
#track .imgContainer {
    margin: 25px;
}
#track img {
    width: 100%;
    border-radius: 30px;
}
#play {
    position: absolute;
    margin-top: -130px;
    right: 0px;
    height: 50px;
    width: 50px;
    padding: 25px;
    background-color: var(--spotify);
    border-radius: 100%;
    color: var(--cbg);
    cursor: pointer;
}

/* INFO */
#track .info {
    position: relative;
    margin-top: 40px;
    margin-bottom: 25px;
}
#track .info h1 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
#track .info p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* AMPEL */
#track .ampel {    
    height: 35px;
    width: fit-content;
    justify-self: center;
    padding: 15px;
    display: flex;
    gap: 10px;
    background-color: var(--cbg);
    border-radius: 85px;
}
#track .ampel span {
    background-color: var(--cbgc);
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

/* NOTES */
#track .notes p {
    z-index: 100;
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    background-color: var(--cbgc);
    border-radius: 15px;
    margin-bottom: 25px;
}