#userList {
    padding: 25px;
}
user {
    margin-top: 15px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cbglc);
    cursor: pointer;
}
user:first-child {
    margin-top: 0px;
}
.self {
    background-color: var(--cbgc);
}
user .infos {
    display: flex;
    flex-direction: column;
    gap: 5px;   
}
user .title {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
user .title h3 {
    font-size: 30px;
    font-weight: 500;
}
user .title p {
    color: var(--ctextc);
    font-size: 24px;
    font-weight: 400;
}
user p {
    font-size: 20px;
    font-weight: 400;
}
user svg {
    color: var(--ctext);
    height: 30px;
    width: 30px;
}

/* PASSWORT ÄNDERN LINK */
.edit a {
    display: flex;
    text-decoration: none;
    color: var(--ctext);
    gap: 20px;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--cbglc);
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.edit a:hover {
    background-color: var(--cbgc);
}
.edit a p {
    font-size: 24px;
    font-weight: 400;
    flex-grow: 1;
}
.edit a svg {
    height: 50px;
    width: 50px;
}
.edit a svg:first-child {
    height: 30px;
    width: 30px;
}

@media only screen and (min-width: 1050px) {
    #userList {
        justify-self: center;
        width: 1000px;
    }
}